@use "../variables";
@use "../styles/highlight-and-shadows.mixin.scss";

.Button {
    background-color: variables.$color-background;
    @include highlight-and-shadows.highlight-and-shadows(6px, variables.$color-highlight, variables.$color-shadows);

    position: relative;

    &:active {
        @include highlight-and-shadows.highlight-and-shadows(6px, variables.$color-shadows, variables.$color-background);

        div.inner {
            transform: translate(1px, 1px);
        }

        &::after {
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;

            width: calc(100% + 6px * 2 - 1px);
            height: calc(100% + 6px * 2 - 1px);

            border-bottom: 1px solid variables.$color-shadows;
            border-right: 1px solid variables.$color-shadows;
        }
    }
}
