@use "variables";

div.Borders {
    width: fit-content;
    height: fit-content;

    padding: variables.$border-size;
    background: variables.$color-background;
    position: relative;

    border-top: solid variables.$border-highlight-width variables.$color-highlight;
    border-left: solid variables.$border-highlight-width variables.$color-highlight;
    border-right: solid variables.$border-highlight-width variables.$color-shadows;
    border-bottom: solid variables.$border-highlight-width variables.$color-shadows;

    div.content {
        border-top: solid variables.$border-highlight-width variables.$color-shadows;
        border-left: solid variables.$border-highlight-width variables.$color-shadows;
        border-right: solid variables.$border-highlight-width variables.$color-highlight;
        border-bottom: solid variables.$border-highlight-width variables.$color-highlight;
    }
}
