@use "variables";

:root {
    font-size: variables.$size-cell * 17 / 32;
}

html,
body,
div#root {
    margin: 0;
    padding: 0;

    background-color: variables.$color-background;
}

* {
    outline: none;
}

button {
    cursor: pointer;
}
