@use "sass:color";
@use "variables";

div.MainMenu {
    height: 100%;
    width: 100%;

    min-width: variables.$menu-size;
    min-height: variables.$menu-size;

    background-color: variables.$color-background;

    font-size: 1.1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: "Minesweeper";
    }

    div.buttons {
        display: flex;
        flex-direction: row;

        $color-background-button-main: #2a75f3;
        $color-shade-button-main: color.adjust($color-background-button-main, $lightness: -10%);

        $color-background-button-settings: #e7bd00;
        $color-shade-button-settings: color.adjust(
            $color-background-button-settings,
            $lightness: -10%
        );

        button {
            &.play {
                --color-button-background: #{$color-background-button-main};
                --color-button-shade: #{$color-shade-button-main};
            }
            &.settings {
                --color-button-background: #{$color-background-button-settings};
                --color-button-shade: #{$color-shade-button-settings};
            }

            font-size: 1.25em;

            border: 0.2em solid var(--color-button-shade);
            border-radius: 10px;

            background-color: var(--color-button-background);

            font-weight: bold;
            color: white;

            padding: 0.2em 0.5em;

            text-transform: uppercase;

            margin: 0 0.25em;

            &:active {
                background-color: var(--color-button-shade);
            }
        }
    }

    p.attribution {
        font-size: 0.85em;

        text-align: center;

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
    }
}
