@use "variables";
@use "styles/highlight-and-shadows.mixin.scss";

@mixin size($size) {
    width: $size;
    height: $size;
}

* {
    user-select: none;
    box-sizing: border-box;
}

table#Minesweeper {
    $size-borders: 4px;

    font-family: "MineSweeper";
    font-weight: 900;

    tr {
        display: flex;
        flex-direction: row;

        td {
            @include size(variables.$size-cell);
            @include highlight-and-shadows.highlight-and-shadows(
                $size-borders,
                variables.$color-highlight,
                variables.$color-shadows
            );

            font-size: 1rem;

            background-color: variables.$color-background;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                @include size(variables.$size-cell - 7px);
            }

            $open-border: ($size-borders/2) solid variables.$color-shadows;
            $open-padding: $size-borders / 2;

            &.open {
                border: $open-border;
                padding: $open-padding;
            }

            @at-root {
                table#Minesweeper:not(.lost):active td:not(.flagged):hover {
                    border: $open-border !important;
                    padding: $open-border / 2 !important;
                }
            }

            &.red {
                background-color: red;
            }
        }
    }
}
