@use "variables";

div.Settings {
    width: 100%;
    height: 100%;

    min-width: variables.$menu-size;
    min-height: variables.$menu-size;

    background-color: variables.$color-background;

    &,
    * {
        font-family: "Minesweeper";
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        button {
            margin: 3px;
            font-size: 0.8em;
            padding: 10px;

            transition: all 0.2s ease;

            &.selected {
                color: #eeee00;
            }
        }
    }

    div.container {
        margin: 1em 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        * {
            margin: 0 0.5em;
        }
    }

    div.col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.m0 {
        margin: 0;
    }

    div.close {
        $btn-padding: 10px;
        $btn-size: 30px;

        cursor: pointer;

        position: absolute;

        top: $btn-padding;
        right: $btn-padding;

        width: $btn-size;
        height: $btn-size;

        &::after {
            --close-button-rotate: 45deg;
        }

        &::before {
            --close-button-rotate: -45deg;
        }

        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%) rotate(var(--close-button-rotate));

            width: 100%;
            height: 4px;

            background: white;
        }
    }
}
